<div class="flex flex-row">
  <mat-card class="w-full">
    <mat-card-content class="!flex flex-col items-center">
      <hsel-logo
        imgClasses="pt-8 mb-16 s-150 lt-sm:pt-4 lt-sm:mb-8 lt-sm:s-125 lt-xs:pt-2 lt-xs:mb-4 lt-xs:s-90"
      ></hsel-logo>
      <hsel-register-credentials
        class="w-full"
        (onCancel)="cancel()"
        (onNext)="nextStep($event)"
        [style.display]="step === 0 ? 'block' : 'none'"
        #provideCredentials>
      </hsel-register-credentials>
      <hsel-register-personal-details
        class="w-full"
        (onBack)="oneStepBack()"
        (onCancel)="cancel()"
        (onNext)="registerUser(true)"
        [style.display]="step === 1 ? 'block' : 'none'"
        #providePersonalDetails>
      </hsel-register-personal-details>
      <div
        class="w-full flex-col gap-y-4 items-center py-8 px-4 text-center"
        [style.display]="step === 2 ? 'flex' : 'none'"
      >
        <span>Sie wurden erfolgreich registriert.</span>
        <span>In Kürze werden Sie zur Startseite umgeleitet.</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
