/* You can add global styles to this file, and also import other style files */

@use "tailwindcss";
@use "color" as col;
@tailwind utilities;

* {
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --error-color: #dc3545;

  box-sizing: border-box;
}

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@layer utilities {
  .w-300\! {
    width: 300px !important;
  }

  .max-w-inherit {
    max-width: inherit;
  }

  .max-w-3\/4 {
    max-width: 75%;
  }

  .min-h-50 {
    min-height: 12.5rem;
  }

  .max-h-125 {
    max-height: 31.25rem;
  }

  .flex-1\/2 {
    flex: 50%;
  }

  .flex-fit {
    flex: fit-content;
  }

  .bg-gray {
    background-color: #0000000a;
    color: col.text-color(#0000000a);
  }

  .right-4 {
    right: calc(var(--spacing) * 4);
  }
}

/**
      'gt-lg': { min: '1920px' },
      'lt-lg': { max: '1919.99px' },
      'gt-md': { min: '1280px' },
      'lt-md': { max: '1279.99px' },
      'gt-sm': { min: '960px' },
      'lt-sm': { max: '959.99px' },
      'gt-xs': { min: '600px' },
      'lt-xs': { max: '599.99px' },
*/

.info-toast {
  border: 2px solid var(--info-color);
}

.warning-toast {
  border: 2px solid var(--warning-color);
}

.error-toast {
  border: 2px solid var(--error-color);
}

.fab-bottom-right {
  position: absolute;
  right: 16px;
  bottom: 80px;
}

.fab-toolbar-bottom-right {
  position: absolute;
  right: 16px;
  top: 32px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}
