<mat-tab-group [selectedIndex]="selectedTab">
  @for (milestone of milestones; track milestone.id) {
    <mat-tab [label]="milestone.name" [tabIndex]="$index">
      <div class="overflow-hidden p-2">
        <hsel-edit-milestone-estimates-tab
          [milestone]="milestone"
          [reportStart]="reportStart"
          [reportEnd]="reportEnd"
          [reportInterval]="reportInterval"
          (onDelete)="removeMilestone(milestone.id)">
        </hsel-edit-milestone-estimates-tab>
      </div>
    </mat-tab>
  }
</mat-tab-group>
