<mat-tab-group [selectedIndex]="selectedTab | async" (selectedIndexChange)="onTabChange($event)">
  @for (milestone of milestones; track milestone.id) {
    <mat-tab [label]="milestone.name">
      <div class="overflow-hidden p-2">
        <hsel-edit-milestone-estimates-tab #tabContent
          [milestone]="milestone"
          [reportDates]="reportDates"
          [interval]="project?.reportInterval || 7"
          [renderChart]="$first">
        </hsel-edit-milestone-estimates-tab>
      </div>
    </mat-tab>
  }
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>add</mat-icon>
    </ng-template>
  </mat-tab>
</mat-tab-group>
