<mat-card>
  <mat-card-header>
    <mat-card-title>Prognosen vom Meilenstein "{{ milestone.name }}" anpassen</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-4">
    <form [formGroup]="form" class="flex flex-col gap-y-2">
      <mat-form-field class="w-full">
        <mat-label aria-required="true">Name des Meilensteins</mat-label>
        <input formControlName="name" matInput required />
        @if (form.get('name')?.hasError('required')) {
          <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
        }
      </mat-form-field>
      @for (estimate of estimates; track estimate.id) {
        <hsel-milestone-estimate-form-field
          [estimate]="estimate.estimation"
          [allowedDates]="reportDates"
        ></hsel-milestone-estimate-form-field>
      }
      <mat-checkbox formControlName="milestoneReached">Meilenstein erreicht?</mat-checkbox>
    </form>
  </mat-card-content>
  <mat-card-actions align="end" class="gap-x-4">
    <button mat-raised-button (click)="onDiscardChanges()" color="accent">Änderungen verwerfen</button>
    <button mat-raised-button (click)="onMilestoneDelete()" color="warn">Meilenstein löschen</button>
    <button mat-raised-button (click)="onSaveChanges()" color="primary">Änderungen speichern</button>
  </mat-card-actions>
</mat-card>
