<mat-card>
  <mat-card-header>
    <mat-card-title>
      Basisdetails
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="w-full">
        <mat-label aria-required="true">Projektname</mat-label>
        <input formControlName="name" type="text" matInput required autofocus />
        @if (form.get('name')?.hasError('required')) {
          <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label aria-required="true">Berichtsintervall</mat-label>
        <input formControlName="interval" type="number" min="1" step="1" matInput required />
        <span class="pr-4" matSuffix>Tag/e</span>
        @if (form.get('interval')?.hasError('required')) {
          <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
        } @else if (form.get('interval')?.hasError('min')) {
          <mat-error>Für den Berichtsintervall kann minimal der Wert 1 angegeben werden</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Projekttyp</mat-label>
        <input formControlName="type" type="text" matInput />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label aria-required="true">Projektstart</mat-label>
        <input [matDatepicker]="dpProjectStart" formControlName="startDate" matInput required />
        <mat-datepicker-toggle [for]="dpProjectStart" matIconSuffix></mat-datepicker-toggle>
        <mat-datepicker #dpProjectStart></mat-datepicker>
        @if (form.get('startDate')?.hasError('required')) {
          <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
        }
        <mat-hint>Das Datum wird im Format DD.MM.YYYY erwartet</mat-hint>
      </mat-form-field>
      <mat-form-field class="w-full" subscriptSizing="dynamic">
        <mat-label>Projektende</mat-label>
        <input [matDatepickerFilter]="boundFilterEndDate" [matDatepicker]="dpProjectEnd" formControlName="endDate" matInput />
        <mat-datepicker-toggle [for]="dpProjectEnd" matIconSuffix></mat-datepicker-toggle>
        <mat-datepicker #dpProjectEnd></mat-datepicker>
        @if (form.get('endDate')?.hasError('behindDate')) {
          <mat-error>Das Projektende kann nicht vor dem Projektstart liegen</mat-error>
        } @else if (form.get('endDate')?.hasError('matchesInterval')) {
          <mat-error>Das Projektende muss mindestens um ein Intervall nach dem Projektstart liegen</mat-error>
        }
        <mat-hint>Das Datum wird im Format DD.MM.YYYY erwartet und muss im Intervall liegen (Projektstart + ein vielfaches vom Berichtsintervall)</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
<div class="mt-4 flex gt-md:flex-row gt-md:gap-x-4 lt-md:flex-col lt-md:gap-y-4">
  <mat-card class="gt-md:flex-1/2 lt-md:flex-fit">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Studierende</mat-card-title>
        <mat-card-subtitle>Studierende können auch später noch als Mitglieder hinzugefügt werden</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for (student of students; track $index) {
          <mat-list-item>
            <span class="flex flex-row justify-between items-center" matListItemTitle>
              {{ student.user.academicTitle | undefinedString:'' }}{{ student.user.firstName }} {{ student.user.lastName }}
              <div>
                <button (click)="moveToCompanions($index)" matTooltip="Zu einen Beteuer umwandeln" mat-icon-button>
                  <mat-icon>keyboard_double_arrow_right</mat-icon>
                </button>
                <button (click)="removeStudent($index)" matTooltip="Studierenden löschen" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </span>
          </mat-list-item>
        } @empty {
          <mat-list-item>
            <span matListItemTitle>Das Projekt hat noch keine Studenten als Mitglieder (außer Sie selbst)</span>
          </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
    <mat-card-actions align="end" class="mt-auto">
      <button (click)="inviteStudent()" mat-button>Studierenden hinzufügen</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="gt-md:flex-1/2 lt-md:flex-fit">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Betreuer</mat-card-title>
        <mat-card-subtitle>Betreuer können auch später noch als Mitglieder hinzugefügt werden</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for (companion of companions; track $index) {
          <mat-list-item>
            <span class="flex flex-row justify-between items-center" matListItemTitle>
              {{ companion.user.academicTitle | undefinedString:'' }}{{ companion.user.firstName }} {{ companion.user.lastName }}
              <div>
                <button (click)="moveToStudents($index)" matTooltip="Zu einen Studierenden umwandeln" mat-icon-button>
                  <mat-icon>keyboard_double_arrow_left</mat-icon>
                </button>
                <button (click)="removeCompanion($index)" matTooltip="Betreuer löschen" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </span>
          </mat-list-item>
        } @empty {
          <mat-list-item>
            <span matListItemTitle>Das Projekt hat noch keine Betreuer als Mitglieder</span>
          </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
    <mat-card-actions align="end" class="mt-auto">
      <button (click)="inviteCompanion()" mat-button>Betreuer hinzufügen</button>
    </mat-card-actions>
  </mat-card>
</div>
<mat-card class="mt-4">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Meilensteine</mat-card-title>
      <mat-card-subtitle>Meilensteine können auch später noch angelegt werden</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      @for (milestone of milestones; track $index) {
        <mat-list-item>
          <span class="flex flex-row justify-between items-center" matListItemTitle>
            {{ milestone.name }}
            <button (click)="deleteMilestone($index)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </mat-list-item>
      } @empty {
        <mat-list-item>
          <span matListItemTitle>Das Projekt hat noch keine Meilensteine</span>
        </mat-list-item>
      }
    </mat-list>
  </mat-card-content>
  <mat-card-actions align="end">
    <button (click)="addMilestone()" mat-button>Meilenstein hinzufügen</button>
  </mat-card-actions>
</mat-card>
<div class="mt-8 flex flex-row gap-x-2 justify-end">
  <button color="accent" (click)="onCancelClick()" mat-raised-button>Änderungen verwerfen</button>
  <button
    color="primary"
    [disabled]="form.invalid"
    type="submit"
    (click)="onSubmitClick()"
    mat-raised-button
  >
    Änderungen speichern
  </button>
</div>
