<h1 mat-dialog-title>
  Projekt löschen?
</h1>
<div mat-dialog-content>
  Wollen Sie Ihr Projekt wirklich unwiderruflich löschen?
  Dadurch werden alle mit dem Projekt verbundenen Daten unwiderruflich gelöscht:
  <ul>
    <li>alle verbundenen Mitglieder werden entfernt (lediglich die Verbindung wird aufgelöst)</li>
    <li>alle Berichte werden entfernt</li>
    <li>alle Meilensteine mit den verbundenen Prognosen werden entfernt</li>
  </ul>
</div>
<div class="!justify-end" mat-dialog-actions>
  <button (click)='onCancel()' mat-button cdkFocusInitial>Nein</button>
  <button [mat-dialog-close]='true' mat-button>
    Ja, unwiderruflich löschen
  </button>
</div>
