<mat-nav-list>
  @for (project of projects; track project.id) {
    <a [routerLink]="['/projects', project.id]" mat-list-item>
      <span matListItemTitle>{{ project.name }}</span>
      <span matListItemLine>
        {{ project.type | projectType }}
        Gestartet am: {{ project.officialStart | date:'dd.MM.yyyy' }} -
        @if (project.officialEnd) {
          Beendet am: {{ project.officialEnd | date:'dd.MM.yyyy' }} -
        }
        Berichtsintervall: {{ project.reportInterval }} Tag/e
      </span>
    </a>
  } @empty {
    <mat-list-item>
      <span matListItemTitle>Sie besitzen noch keine Projekte</span>
    </mat-list-item>
  }
</mat-nav-list>
<div class='fab-button-toolbar'>
  <button mat-fab color='primary' (click)="createNewProject()">
    <mat-icon>add</mat-icon>
  </button>
</div>
