.provide-personal-data-hint {
  font-family: var(--mat-form-field-subscript-text-font);
  line-height: var(--mat-form-field-subscript-text-line-height);
  font-size: var(--mat-form-field-subscript-text-size);
  letter-spacing: var(--mat-form-field-subscript-text-tracking);
  font-weight: var(--mat-form-field-subscript-text-weight);
  padding-left: 2.75rem;

  @media (max-width: 599.99px) {
    padding-top: 1rem;
  }
}
