<form [formGroup]="form" class="flex flex-col">
  <mat-form-field class="w-full">
    <mat-label aria-required="true">E-Mail-Adresse</mat-label>
    <input type="text" formControlName="email" aria-required="true" tabindex="1" required matInput />
    @if (form.get('email')?.hasError('required')) {
      <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label aria-required="true">Passwort</mat-label>
    <input [type]="hidePassword ? 'password' : 'text'" tabindex="2" formControlName="password" aria-required="true" required matInput />
    <button (click)="togglePasswordHide($event)" tabindex="-1" aria-label="Passwort aus- bzw. einblenden" matSuffix mat-icon-button>
      <mat-icon>
        @if (hidePassword) {
          visibility_off
        } @else {
          visibility
        }
      </mat-icon>
    </button>
    @if (form.get('password')?.hasError('required')) {
      <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label aria-required="true">Passwort wiederholen</mat-label>
    <input [type]="hideRepeatPassword ? 'password' : 'text'" tabindex="3" formControlName="passwordRepeat" aria-required="true" required matInput />
    <button (click)="toggleRepeatPasswordHide($event)" tabindex="-1" aria-label="Passwort aus- bzw. einblenden" matSuffix mat-icon-button>
      <mat-icon>
        @if (hideRepeatPassword) {
          visibility_off
        } @else {
          visibility
        }
      </mat-icon>
    </button>
    @if (form.get('passwordRepeat')?.hasError('required')) {
      <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
    } @else if (form.get('passwordRepeat')?.hasError('matchingInputs')) {
      <mat-error>Die Passwörter stimmen nicht überein</mat-error>
    }
  </mat-form-field>
  <mat-checkbox formControlName="providePersonalDetails" tabindex="4">Persönliche Daten im nächsten Schritt angeben?</mat-checkbox>
  <span class="provide-personal-data-hint">
    @if (form.get('providePersonalDetails')?.value === true) {
      Da Sie den Haken gesetzt haben, müssen Sie im folgenden Schritt Ihre persönlichen Daten, die von der Anwendung benötigt werden, angeben.
    } @else {
      Da Sie den Haken nicht gesetzt haben, müssen Sie Ihre persönlichen Daten, die von der Anwendung benötigt werden, zu einem späteren Zeitpunkt trotzdem noch angeben.
    }
  </span>
  <div class="mt-8 flex justify-end">
    <button (click)="onCancelClick()" color="accent" tabindex="6" mat-button>Abbrechen</button>
    <button type="submit" (click)="onNextClick()" tabindex="5" [disabled]="form.invalid" color="primary" mat-button>
      @if (form.get('providePersonalDetails')?.value === true) {
        Weiter
      } @else {
        Registrieren
      }
    </button>
  </div>
</form>
