<header style="display: flex; flex-direction: row; align-items: center; column-gap: 32px;">
	<a href="https://www.hs-emden-leer.de/" target="_blank" style="width: 256px; height: 86px;">
		<img src="{{ host }}/assets/hsel-logo.png" style="width: inherit;" />
	</a>
	<div style="display: flex; flex-direction: column; row-gap: 8px; font-size: 1.5rem;">
		<span>Meilensteintrendanalyse</span>
		<span>Milestone Trend Analysis</span>
	</div>
</header>
