<footer style="display: flex; flex-direction: column; row-gap: 24px; padding: 8px; background: #f0f7f7;">
	<div style="display: flex; flex-direction: column; row-gap: 8px;">
		<span>Dies ist ein Service der Hochschule Emden/Leer, entwickelt von Studierenden des Fachbereichs Technik (Elektrotechnik &amp; Informatik)</span>
		<span>This is a service provided by the University of Applied Sciences Emden/Leer, developed by students from the faculty of technology (Electrical Engineering &amp; Computer Science)</span>
	</div>
	<div style="display: flex; flex-direction: row; justify-content: space-around;">
		<a href="https://www.hs-emden-leer.de/studieninteressierte/fachbereiche/technik" target="_blank">Fachbereich Technik / Faculty of Technology</a>
		<a href="https://www.hs-emden-leer.de/footer-menue/kontakt" target="_blank">Kontakt / Contact</a>
		<a href="https://www.hs-emden-leer.de/impressum" target="_blank">Impressum / Imprint</a>
		<a href="https://www.hs-emden-leer.de/datenschutz" target="_blank">Datenschutz / Privacy</a>
	</div>
</footer>
