<div class="flex flex-col gap-y-4">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ project.name }}</mat-card-title>
      @if (project.type) {
        <mat-card-subtitle>vom Typ "{{ project.type }}"</mat-card-subtitle>
      }
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>
            Berichtszeitraum: {{ project.officialStart | date:'dd.MM.yyyy' }} bis
            @if (project.officialEnd) {
              {{ project.officialEnd | date:'dd.MM.yyyy' }}
            } @else {
              TBA
            }
          </span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>
            Berichtsintervall: {{ project.reportInterval }}
            @if (project.reportInterval !== 1) {
              Tage
            } @else {
              Tag
            }
          </span>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <span class="!mt-4" matCardTitle>Besitzer des Projekts</span>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>{{ project.owner | fullTitleName }}</span>
          <span matListItemLine>
            E-Mail-Adresse: {{ project.owner.email }}
          </span>
          @if (project.owner.phoneNumber !== null) {
            <span matListItemLine>
              Telefonnummer: {{ project.owner.phoneNumber }}
            </span>
          }
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <div class="flex flex-row gap-x-4">
    <mat-card style="flex: 50%;">
      <mat-card-header>
        <mat-card-title>Studierende</mat-card-title>
      </mat-card-header>
      <mat-card-content style="height: calc(100% - 48px);">
        <mat-list>
          @for (student of contributors; track student.id) {
            <mat-list-item>
              <span class="!flex flex-row justify-between items-center" matListItemTitle>
                <span class="flex-1">{{ student.user| fullTitleName }}</span>
                <div>
                  <button matTooltip="Zu einen Beteuer umwandeln" (click)="moveToCompanions(student.id)" mat-icon-button>
                    <mat-icon>keyboard_double_arrow_right</mat-icon>
                  </button>
                  <button matTooltip="Studierenden löschen" (click)="removeStudent(student.id)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </span>
              <span matListItemLine>
                E-Mail-Adresse: {{ student.user.email }}
              </span>
              @if (student.user.phoneNumber !== null) {
                <span matListItemLine>
                  Telefonnummer: {{ student.user.phoneNumber }}
                </span>
              }
            </mat-list-item>
          }
        </mat-list>
      </mat-card-content>
      <mat-card-actions align='end'>
        <button (click)='inviteStudent()' mat-button>
          Student hinzufügen
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card style="flex: 50%;">
      <mat-card-header>
        <mat-card-title>Betreuer</mat-card-title>
      </mat-card-header>
      <mat-card-content style="height: calc(100% - 48px);">
        <mat-list>
          @for (companion of viewers; track companion.id) {
            <mat-list-item>
              <span class="!flex flex-row justify-between items-center" matListItemTitle>
                <span class="flex-1">{{ companion.user| fullTitleName:false }}</span>
                <div>
                  <button (click)="moveToStudents(companion.id)" matTooltip="Zu einen Studierenden umwandeln" mat-icon-button>
                    <mat-icon>keyboard_double_arrow_left</mat-icon>
                  </button>
                  <button (click)="removeCompanion(companion.id)" matTooltip="Betreuer löschen" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </span>
              <span matListItemLine>
                E-Mail-Adresse: {{ companion.user.email }}
              </span>
              @if (companion.user.phoneNumber !== null) {
                <span matListItemLine>
                  Telefonnummer: {{ companion.user.phoneNumber }}
                </span>
              }
            </mat-list-item>
          } @empty {
            <mat-list-item>
              <span matListItemTitle>Das Projekt hat noch keine Betreuer als Mitglieder</span>
            </mat-list-item>
          }
        </mat-list>
      </mat-card-content>
      <mat-card-actions align='end'>
        <button (click)='inviteCompanion()' mat-button>
          Betreuer hinzufügen
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="flex flex-row gap-x-4">
    <mat-card style="flex: 50%;">
      <mat-card-header>
        <mat-card-title>Projektberichte</mat-card-title>
      </mat-card-header>
      <mat-card-content style="height: calc(100% - 48px);">
        @if (project.reports.length === 0) {
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Dieses Projekt hat noch keine Berichte</span>
            </mat-list-item>
          </mat-list>
        } @else {
          <mat-nav-list>
            @for (report of project.reports; track report.id) {
              <a
                mat-list-item
                [routerLink]="['report', report.id]"
              >
                <span matListItemTitle>
                  {{ report.sequenceNumber }}. Projektbericht vom {{ report.reportDate | date:'dd.MM.yyyy' }}
                </span>
              </a>
            }
          </mat-nav-list>
        }
      </mat-card-content>
      <mat-card-actions align='end'>
        <button
          [routerLink]="['report/new']"
          [state]="{ sequenceNumber: getNextSequenceNumber() }"
          mat-button
        >
          Projektbericht hinzufügen
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card style="flex: 50%;">
      <mat-card-header>
        <mat-card-title>Meilensteine</mat-card-title>
      </mat-card-header>
      <mat-card-content style="height: calc(100% - 48px);">
        <mat-list>
          @for (milestone of project.milestones; track milestone.id) {
            <mat-list-item>
              @if (isMilestoneReached(milestone.estimates)) {
                <mat-icon style="color: var(--done);" matTooltip="Abgeschlossen" matListItemIcon>check_small</mat-icon>
              } @else {
                <mat-icon style="color: var(--pending);" matTooltip="Noch in Arbeit" matListItemIcon>pending</mat-icon>
              }
              <span class="flex flex-row justify-between items-center" matListItemTitle>
                {{ milestone.name }}
                <button (click)="deleteMilestone($index)" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </mat-list-item>
          } @empty {
            <mat-list-item>
              <span matListItemTitle>Das Projekt hat noch keine Meilensteine</span>
            </mat-list-item>
          }
        </mat-list>
      </mat-card-content>
      <mat-card-actions align='end'>
        <button class="mr-4" [routerLink]="['milestones/edit']" mat-button>
          Meilensteine bearbeiten
        </button>
        <button (click)="onNewMilestoneClick()" mat-button>
          Meilenstein hinzufügen
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<hsel-milestone-trend-analysis-chart
  class="lt-sm:hidden"
  [interval]="project.reportInterval"
  [startDate]="project.officialStart!"
  [endDate]="project.officialEnd"
  [milestones]="project.milestones"
  #chart>
</hsel-milestone-trend-analysis-chart>
<div class="fab-button-toolbar">
  <button color="accent" [routerLink]="['edit']" mat-fab>
    <mat-icon>edit</mat-icon>
  </button>
</div>
