<div class="markdown-editor-and-preview">
  <section class="markdown-editor-buttons" #editorButtons>
    <button mat-icon-button matTooltip='Bold' (click)="formatBold()" [disabled]="previewOpen">
      <mat-icon>format_bold</mat-icon>
    </button>
    <button mat-icon-button matTooltip='Italic' (click)="formatItalic()" [disabled]="previewOpen">
      <mat-icon>format_italic</mat-icon>
    </button>
    <button mat-icon-button matTooltip='Heading' (click)="formatHeading()" [disabled]="previewOpen">
      <mat-icon>format_size</mat-icon>
    </button>
    <button mat-icon-button matTooltip='Strikethrough' (click)="formatStrikethrough()" [disabled]="previewOpen">
      <mat-icon>format_strikethrough</mat-icon>
    </button>
    <button mat-icon-button matTooltip='Unordered list' (click)="formatBulletList()" [disabled]="previewOpen">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
    <button mat-icon-button matTooltip='Ordered list' (click)="formatNumberedList()" [disabled]="previewOpen">
      <mat-icon>format_list_numbered</mat-icon>
    </button>
    <button mat-icon-button matTooltip='Task List' (click)="formatTaskList()" [disabled]="previewOpen">
      <mat-icon>checklist</mat-icon>
    </button>
    <button mat-icon-button matTooltip='Blockquote' (click)="formatQuote()" [disabled]="previewOpen">
      <mat-icon>format_quote</mat-icon>
    </button>
    <button mat-icon-button matTooltip='Code' (click)="formatCode()" [disabled]="previewOpen">
      <mat-icon>code</mat-icon>
    </button>
    <button mat-icon-button matTooltip='Table' (click)="formatTable()" [disabled]="previewOpen">
      <mat-icon>table_chart</mat-icon>
    </button>
    <button mat-icon-button matTooltip='Link' (click)="formatLink()" [disabled]="previewOpen">
      <mat-icon>link</mat-icon>
    </button>
    <button mat-icon-button matTooltip='Image' (click)="formatImage()" [disabled]="previewOpen">
      <mat-icon>image</mat-icon>
    </button>
    <button
      mat-icon-button
      [matTooltip]='previewOpen ? "Close preview" : "Open preview"'
      (click)="previewOpen = !previewOpen"
    >
      <mat-icon>{{ previewOpen ? 'preview_off' : 'preview' }}</mat-icon>
    </button>
  </section>
  <mat-form-field
    [class]='previewOpen ? "cdk-visually-hidden" : ""'
    style='margin: 0 16px; border-radius: 8px; width: calc(100% - 32px);'
    (click)='updateSelection($event)'
    (keyup)='updateSelection($event)'
    (keydown)='changeIndentation($event)'
    (input)='onInputChange()'
  >
    <mat-label>{{ label }}</mat-label>
    <textarea matInput [(ngModel)]='markdown' rows='10' #textArea maxlength='16777215'></textarea>
    <mat-hint align="end">{{ textArea.value.length }}/16777215</mat-hint>
  </mat-form-field>
  <markdown
    lineNumbers
    lineHighlight
    [data]="markdown"
    [hidden]="!previewOpen"
    style="min-height: 200px; max-height: 500px; overflow-y: auto; background-color: var(--mdc-filled-text-field-container-color);">
  </markdown>
</div>
