<h1>Willkommen zur Meilensteintrendanalyse der Hochschule Emden/Leer</h1>
<h3>Ihre zentrale Plattform für eine effiziente Meilensteintrendanalyse und Projektüberwachung.</h3>

<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Die Idee des Projekts</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Dieses Projekt ist im Rahmen einer Projektarbeit entstanden.
    </p>
    <p>
      Das Ziel dieser Arbeit ist es das Excel Dokument zur Meilensteintrendanalyse, das von Prof. Dr. Gerrit Jan Veltink erstellt wurde, mit dieser Web-App abzulösen.
    </p>
    <p>
      Dieses Projekt wird von Studierenden für Studierende entwickelt und soll ein moderneres und intuitiveres Design für das Projektmanagement-Tool der Meilensteintrendanalyse bereitstellen.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Was ist eine Meilensteintrendanalyse?</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Die Meilensteintrendanalyse (MTA) ist eine bewährte Methode zur Visualisierung und Verfolgung von Projektfortschritten. Mit dieser App können Sie diese Methode einfach und effektiv anwenden, um Ihre Projektziele stets im Blick zu behalten.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Funktionsübersicht</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>
        <strong>Projektübersicht:</strong> Behalten Sie alle Ihre Projekte und deren Fortschritt im Blick.
      </li>
      <li>
        <strong>Trendanalysen:</strong> Erstellen Sie aussagekräftige Meilensteintrendanalyse-Diagramme.
      </li>
      <li>
        <strong>Einfache Bedienung:</strong> Intuitive Benutzeroberfläche für eine schnelle Einarbeitung.
      </li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Einstieg</mat-panel-title>
    </mat-expansion-panel-header>
    <ol>
      <li>
        <strong>Registrieren:</strong> Falls Sie noch keinen Account haben, müssen Sie sich <a href="/auth/register">hier</a> zunächst registrieren. Bei der Registrierung haben Sie direkt die Möglichkeit Ihre persönlichen Daten, die von der App gefordert sind, anzugeben. Für einen schnelleren Einstieg empfiehlt es sich die Daten an dieser Stelle direkt anzugeben.
      </li>
      <li>
        <strong>Anmelden:</strong> Sofern Sie noch nicht angemeldet sind, melden Sie sich <a href="/auth/login">hier</a> zuerst an.
      </li>
      <li>
        <strong>Projekt anlegen:</strong> Navigieren Sie zur Liste aller Projekte und klicken Sie auf das Plus-Symbol oder klicken Sie <a href="/projects/new">hier</a>. Geben Sie dort die grundlegenden Informationen ein. In der Ansicht können Sie direkt Projektmitglieder und die Meilensteine hinzufügen. Dies ist aber auch noch im Nachhinein möglich.
      </li>
      <li>
        <strong>Projektmitglieder hinzufügen:</strong> Sofern noch keine bzw. nicht alle Projektmitglieder im vorherigen Schritt hinzugefügt wurden, würde es sich anbieten, diese zum Projekt hinzuzufügen. Dabei ist zu beachten, dass nur bereits registrierte Benutzer hinzugefügt werden können.
      </li>
      <li>
        <strong>Meilensteine hinzufügen:</strong> Sofern noch keine bzw. nicht alle Meilensteine im dritten Schritt hinzugefügt wurden, sollten diese nun ergänzt werden. Selbstverständlich können die Meilensteine auch später noch erweitert werden. Falls es schon möglich ist, können ebenfalls die ersten Prognosen für die Meilensteine definiert werden.
      </li>
      <li>
        <strong>Projektbericht erstellen:</strong> Erstellen Sie den ersten Projektbericht, indem Sie auf die Schaltfläche "Projektbericht hinzufügen" (zu finden auf der Detailseite von Ihrem Projekt) drücken. Dort können Sie mit den Markdowneditoren die entsprechenden Informationen angeben. Nach erfolgreichem Speichern kann der Bericht über die entsprechende Detailseite als PDF exportiert werden.
      </li>
      <li>
        <strong>Meilensteintrendanalyse-Diagramm erstellen:</strong> Dieses Diagramm müssen Sie nicht selber erstellen. Dies wird automatisch auf der Detailseite des Projekts generiert und im PDF Export eines Projektberichts integriert.
      </li>
    </ol>
  </mat-expansion-panel>
</mat-accordion>
