<mat-card>
  @if (i18nTitle) {
    <mat-card-header class="justify-center">
      <mat-card-title>
        <hsel-i18n-text [i18nKey]="i18nTitle" />
      </mat-card-title>
    </mat-card-header>
  }
  <mat-card-content class="mt-8">
    <hsel-logo class="flex justify-center mb-12"></hsel-logo>
    <ng-content></ng-content>
  </mat-card-content>
  @if (activeStep.actions) {
    <mat-card-actions>
      <ng-container [ngTemplateOutlet]="activeStep.actions.templateRef"></ng-container>
    </mat-card-actions>
  }
</mat-card>
