<h1 mat-dialog-title>
  @switch (data.type) {
    @case (EMAIL) {
      E-Mail-Adresse bearbeiten
    }
    @default {
      Passwort bearbeiten
    }
  }
</h1>
<mat-dialog-content>
  <form [formGroup]="form" class="flex flex-col">
    @switch (data.type) {
      @case (EMAIL) {
        <mat-form-field class="w-full">
          <mat-label aria-required="true">Aktuelle E-Mail-Adresse</mat-label>
          <input type="email" formControlName="oldEmail" matInput required />
          @if (form.get('oldEmail')?.hasError('required')) {
            <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
          } @else if (form.get('oldEmail')?.hasError('email')) {
            <mat-error>Die E-Mail-Adresse entspricht nicht dem erwarteten Format</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label aria-required="true">Neue E-Mail-Adresse</mat-label>
          <input type="email" formControlName="newEmail" matInput required />
          @if (form.get('newEmail')?.hasError('required')) {
            <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
          } @else if (form.get('newEmail')?.hasError('email')) {
            <mat-error>Die E-Mail-Adresse entspricht nicht dem erwarteten Format</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label aria-required="true">Neue E-Mail-Adresse wiederholen</mat-label>
          <input type="email" formControlName="newEmailRepeat" matInput required />
          @if (form.get('newEmailRepeat')?.hasError('required')) {
            <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
          } @else if (form.get('newEmailRepeat')?.hasError('email')) {
            <mat-error>Die E-Mail-Adresse entspricht nicht dem erwarteten Format</mat-error>
          } @else if (form.get('newEmailRepeat')?.hasError('matchingInputs')) {
            <mat-error>Die E-Mail-Adressen stimmen nicht überein. Bitte überprüfen Sie Ihre Eingabe.</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label aria-required="true">Aktuelles Passwort</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput required />
          <button (click)="togglePasswordHide($event)" matIconSuffix mat-icon-button>
            <mat-icon>
              @if (hidePassword) {
                visibility_off
              } @else {
                visibility
              }
            </mat-icon>
          </button>
          @if (form.get('password')?.hasError('required')) {
            <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
          }
        </mat-form-field>
      }
      @default {
        <mat-form-field class="w-full">
          <mat-label aria-required="true">Aktuelles Passwort</mat-label>
          <input [type]="hideOldPassword ? 'password' : 'text'" formControlName="password" matInput required />
          <button (click)="toggleOldPasswordHide($event)" matIconSuffix mat-icon-button>
            <mat-icon>
              @if (hideOldPassword) {
                visibility_off
              } @else {
                visibility
              }
            </mat-icon>
          </button>
          @if (form.get('password')?.hasError('required')) {
            <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label aria-required="true">Neues Passwort</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword" matInput required />
          <button (click)="togglePasswordHide($event)" matIconSuffix mat-icon-button>
            <mat-icon>
              @if (hidePassword) {
                visibility_off
              } @else {
                visibility
              }
            </mat-icon>
          </button>
          @if (form.get('newPassword')?.hasError('required')) {
            <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label aria-required="true">Neues Passwort wiederholen</mat-label>
          <input [type]="hidePasswordRepeat ? 'password' : 'text'" formControlName="newPasswordRepeat" matInput required />
          <button (click)="togglePasswordRepeatHide($event)" matIconSuffix mat-icon-button>
            <mat-icon>
              @if (hidePasswordRepeat) {
                visibility_off
              } @else {
                visibility
              }
            </mat-icon>
          </button>
          @if (form.get('newPasswordRepeat')?.hasError('required')) {
            <mat-error>Dies ist ein <strong>Pflichtfeld</strong></mat-error>
          } @else if (form.get('newPasswordRepeat')?.hasError('matchingInputs')) {
            <mat-error>Die Passwörter stimmen nicht überein. Bitte überprüfen Sie Ihre Eingabe.</mat-error>
          }
        </mat-form-field>
      }
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="onCancelClick()" color="accent" mat-button>Abbrechen</button>
  <button [disabled]="form.invalid" (click)="onSubmitClick()" color="primary" mat-button>Änderungen Speichern</button>
</mat-dialog-actions>
