/* You can add global styles to this file, and also import other style files */

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body.theme-alternate {
  a {
    color: #7ab7ff;

    &:hover {
      color: #5e83b3;
    }
  }
}

body:not(.theme-alternate) {
  a {
    color: #2964aa;

    &:hover {
      color: #749ac8;
    }
  }
}

// Adding custom css classes to the components layer of tailwindcss
@layer components {
  .s-150 {
    scale: 1.5;
  }

  .s-125 {
    scale: 1.25;
  }

  .s-90 {
    scale: 0.9;
  }
}

.snack-bar-info {
  border: 2px solid var(--info);
  border-radius: var(--mdc-snackbar-container-shape);
}

.snack-bar-warning {
  border: 2px solid var(--warning);
  border-radius: var(--mdc-snackbar-container-shape);
}

.snack-bar-error {
  border: 2px solid var(--warn-color);
  border-radius: var(--mdc-snackbar-container-shape);
}
