<h1 mat-dialog-title>
  @switch (data.role) {
    @case ('contributor') {
      Studenten einladen
    }
    @case ('viewer') {
      Betreuer einladen
    }
    @default {
      Benutzer einladen
    }
  }
</h1>
<div class="flex flex-col gap-y-4" mat-dialog-content>
  <mat-form-field class="w-full">
    <mat-label>Benutzer</mat-label>
    <mat-select [(value)]='selectedUser'>
      @for (user of users | async; track user.id) {
        <mat-option [value]='user'>{{ user.firstName }} {{ user.lastName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Rolle</mat-label>
    <mat-select [(value)]='data.role'>
      <mat-option value='contributor'>Studierender</mat-option>
      <mat-option value='viewer'>Betreuer</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)='onCancelClick()' mat-button>Abbrechen</button>
  <button [mat-dialog-close]='{ role: data.role, user: selectedUser?.id }' mat-button cdkFocusInitial>
    Einladen
  </button>
</div>
