@mixin button-width() {
  width: 400px;

  @media screen and (max-width: 999.99px) {
    width: 200px;
  }
}

.container-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100dvh - 160px);
  margin: 0 200px;

  @media screen and (max-width: 1299.99px) {
    margin: 0 100px;
  }

  @media screen and (max-width: 999.99px) {
    margin: 0;
  }

  > hsel-i18n-headline ::ng-deep h2 {
    font-size: 1.8rem;
    color: var(--primary-color);
  }

  > hsel-i18n-headline ::ng-deep h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  > hsel-i18n-headline ::ng-deep h6 {
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }

  > hsel-i18n-button {
    align-self: center;
  }

  > hsel-i18n-button:first-of-type ::ng-deep button {
    margin-top: 2rem;
    @include button-width();
  }

  > hsel-i18n-button:nth-of-type(2) ::ng-deep button {
    margin-top: 16px;
    @include button-width();
  }
}
