<div class="container-404">
  <h2>Die angeforderte Seite konnte nicht gefunden werden.</h2>
  <h4>Das kann folgende Ursachen haben:</h4>
  <h6>
    Sie haben auf einen veralteten oder ungültigen Link geklickt. Die angeforderte Ressource ist nicht verfügbar. Sie haben bei der Eingabe der URL vielleicht einen Schreibfehler gemacht? Nicht so schlimm...
  </h6>
  <button color="primary" (click)="goOneBack()" mat-raised-button cdkTrapFocus>Zurück</button>
  <button color="accent" (click)="goToHomepage()" mat-raised-button>Startseite</button>
</div>
