<div class="container-404">
  <hsel-i18n-headline [level]="2" i18nKey="app.pages.page-not-found.content.title" />
  <hsel-i18n-headline [level]="4" i18nKey="app.pages.page-not-found.content.subtitle" />
  <hsel-i18n-headline [level]="6" i18nKey="app.pages.page-not-found.content.description" />
  <hsel-i18n-button color="primary" type="raised" (onClick)="goOneBack()" i18nText="app.pages.page-not-found.content.buttons.back" cdkTrapFocus />
  <hsel-i18n-button color="accent" type="raised" (onClick)="goToHomepage()" i18nText="app.pages.page-not-found.content.buttons.home" />
</div>
