<mat-sidenav-container [autosize]="!match('lt-xs')">
  <mat-sidenav
    class="mat-elevation-z4 overflow-hidden w-64"
    [fixedInViewport]="match('lt-xs')"
    [mode]="match('lt-xs') ? 'over' : 'side'"
    [opened]="!match('lt-xs')"
    #sidenav
  >
    <div class="overflow-hidden">
      <div class="branding-logo" (click)="navigateTo('/')" (keypress)="navigateTo('/')">
        <hsel-logo imgClasses="max-w-inherit" class="max-w-inherit"></hsel-logo>
      </div>
      <mat-nav-list>
        @for (navigationGroup of navigationGroups; track navigationGroup.id) {
          <div
            class="pl-2 flex items-center"
            [ngClass]="!isLightMode ? 'background-dark-mode' : 'background-light-mode'"
            mat-list-item
          >
            <h3 matLine>{{ navigationGroup.label }}</h3>
          </div>

          @for (navigationItem of navigationGroup.items; track navigationItem.id) {
            @if (!(navigationItem.shouldHide && navigationItem.shouldHide())) {
              <mat-divider></mat-divider>
              @if (navigationItem.clickEvent) {
                <a
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="onNavigationClick(); navigationItem.clickEvent();"
                  mat-list-item
                >
                  <div class="flex items-center gap-x-4">
                    <mat-icon>{{ navigationItem.icon }}</mat-icon>
                    <h3 matLine>{{ navigationItem.label }}</h3>
                  </div>
                </a>
              } @else if (navigationItem.to) {
                <a
                  [routerLink]="navigationItem.to"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="onNavigationClick()"
                  mat-list-item
                >
                  <div class="flex items-center gap-x-4">
                    <mat-icon>{{ navigationItem.icon }}</mat-icon>
                    <h3 matLine>{{ navigationItem.label }}</h3>
                  </div>
                </a>
              }
            }
          }
        }
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class='mat-elevation-z6 flex flex-row justify-between' color='primary'>
      @if (match('lt-xs')) {
        <button (click)="sidenav.open()" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      }
      @if (match('lt-xs')) {
        {{ title }}
      } @else {
        {{ title }} - {{ subtitle }}
      }
      <button
        (click)='toggleThemeMode()'
        matTooltip='{{ isLightMode ? "Dark" : "Light" }} Mode aktivieren'
        mat-icon-button
      >
        @if (!isLightMode) {
          <mat-icon>light_mode</mat-icon>
        } @else {
          <mat-icon>dark_mode</mat-icon>
        }
      </button>
    </mat-toolbar>
    <main
      class="p-4 overflow-y-auto"
      [style.height]="getContentHeight()"
    >
      @if (navigationSuccessful) {
        <router-outlet></router-outlet>
      } @else {
        <hsel-page-not-found></hsel-page-not-found>
      }
    </main>
    <mat-progress-bar [style.display]="isLoading ? 'block' : 'none'" mode="indeterminate"></mat-progress-bar>
    <mat-toolbar color='accent' class="flex flex-row justify-around">
      <a href="https://www.hs-emden-leer.de/generische-seiten/impressum" target="_blank">
        Impressum
      </a>
      <a href="https://www.hs-emden-leer.de/datenschutz" target="_blank">
        Datenschutz
      </a>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
