.branding-logo {
  scale: 0.9;
  max-width: 256px;
  margin: 0 auto;
  padding-top: 8px;

  &:hover {
    scale: 0.95;
    transition: scale 500ms ease;
    cursor: pointer;
  }
}

a {
  color: inherit !important;
}

.background-dark-mode {
  background-color: rgba(255, 255, 255, 0.08);
}

.background-light-mode {
  background-color: rgba(0, 0, 0, 0.04);
}
